.title
    text-align: center
    font-size: 26px
    margin: 16px

.search-key
    border: none
    border-bottom: 1px solid black
    margin: 5px
    background: #776b82
    color: white
    padding: 4px
    font-style: italic

.filters
    background: #967BB6
    color: white
    height: 35px
    justify-content: center
    font-size: 14px
    > div
        margin: 5px

.student-name, .student-balance, .student-modify
    margin: 5px

.student-name
    font-weight: bold
    font-size: 16px
    border: none
    background: transparent
    padding: 0

.student-modify
    border: none
    border-radius: 50%
    background: blueviolet
    color: white
    padding: 5px
    width: 24px
    height: 22px
    &:hover
        background: darkblue

.red
    color: red

.green
    color: #0c0

.student
    margin: 5px
    flex-direction: column
    border: 1px solid black
    width: 230px
    position: relative

.student-delete
    border: none
    background: black
    color: white
    position: absolute
    top: 0
    right: 0

.students
    display: flex
    flex-wrap: wrap

.add-student
    text-align: center
    > button
        font-size: 15px
        border: 2px solid #967BB6
        margin: 10px
        background: transparent
        color: #967BB6
        font-weight: bold
        padding: 8px
        height: 36px
        width: 105px
        &:hover
            background: #967BB6
            color: white
