.title
    text-align: center
    font-size: 26px
    margin: 16px

.students-page
    background: #F0E4FF
    border: 2px solid #967BB6
    padding: 7px

.search-key
    border: none
    border-bottom: 1px solid black
    margin: 5px
    background: #776b82
    color: white
    padding: 4px
    font-style: italic

.filters
    background: #967BB6
    color: white
    height: 35px
    justify-content: center
    font-size: 14px
    > div
        margin: 5px

.student-name, .student-balance
    margin: 5px

.student-name
    font-weight: bold
    font-size: 16px
    border: none
    background: transparent
    padding: 0
    margin-top: 26px
    &:hover
       font-size: 18px
       text-decoration: underline

.student-modify
    border: none
    background-image: url('../../assets/pencil.png')
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    background-color: transparent
    width: 24px
    height: 24px
    position: absolute
    top: 3px
    left: 5px

.red
    color: red

.green
    color: #0c0

.student
    margin: 5px
    flex-direction: column
    border: 1px solid #967BB6
    width: 230px
    position: relative
    background: white
    justify-content: center

.student-delete, .student-modify
    &:hover
        height: 30px
        width: 30px
        border-radius: 25%
        border: 2px solid #967BB6



.student-delete
    border: none
    background-image: url('../../assets/trash.png')
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    background-color: transparent
    height: 24px
    width: 24px
    position: absolute
    top: 3px
    right: 5px


.students
    display: flex
    flex-wrap: wrap
    justify-content: center

.add-student
    text-align: center
    > button
        font-size: 14px
        background: #967BB6
        border: none
        margin: 10px
        color:  white
        font-weight: bold
        padding: 8px
        height: 36px
        width: 105px
        &:hover
            font-size: 16px
            text-decoration: underline